block content
  .navbar-collapse.collapse.navbar-default
    ul.nav.navbar-nav.navbar-left
      li#nav-home
        a(href='#')
          i.fa.fa-home.fa-3x
          span.nav-icon-text Home
      li#nav-notification
        a(href='#')
          i.fa.fa-bell.fa-3x
          span.nav-icon-text Notification
      li#nav-meassage
        a(href='#')
          i.fa.fa-comment.fa-3x
          span.nav-icon-text Messages
