extends ./layouts/main.pug

block content
  .container(align='center')
    .wrapper
      .col.s5
      .col.s1(align='center')
        each r in res
          h2(style='font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;').form-signin-heading Your Password is :
          br
          br
          input.form-control(type='text', name='password', required='', autofocus='',id = "password", value=r.password, autocomplete='off', readonly)
          a(href='/login')
            button.btn.btn-info(type='submit') Go to Log-In
          br
