//- extends ./layouts/main.pug

//- block content

//-   div.align-center
//-     form#home(action='/login' method='POST')
//-       div(align='center')
//-         div(align='center')
//-           h1 Join Today
//-           div
//-             input.button(type="submit", name="Submit" value="logout" onClick="/logout")

//-   script.
//-     $(body).css("background-color","#66ccff");

