extends ./layouts/main.pug

block content
  .container
    .well
      div.start-temp
        h1#title Welcome to Twitter!!!
        div.paragraph
          p Be connected with your loved ones...
          p Social Media
          p Online Platform

        form(action='/login')
          button.btn1.btn.btn-info Login
        form(action='/register')
          button.btn1.btn.btn-info SignUp
