extends ./layouts/main.pug

block content
  .container
    .well
      div.start-temp
        h1(style='font-family:"Comic Sans MS", cursive, sans-serif;')#title Welcome to Twitter!!!
        div.paragraph
          p(style='font-family:"Courier New", Courier, monospace;') Be connected with your loved ones...
          p(style='font-family:"Comic Sans MS", cursive, sans-serif;') Social Media
          p(style='font-family:"Comic Sans MS", cursive, sans-serif;') Online Platform

        form(action='/login')
          button.btn1.btn.btn-info Login
        form(action='/register')
          button.btn1.btn.btn-info SignUp
