extends ./layouts/main.pug

block content
  //- p
  //-   | #{tbl_tweet}
  //- .container
  //-   .row
  //-     .col-md-4
  //-       .well
  //-         p
  //-           each book in tbl_tweet
  //-             span= book.t_tweetText
  //-             span= book.t_time



