extends ./layouts/main.pug

block content
  h1= Login

  div.align-center
    form#login(action='/login' method='POST')
      div(align='center')
        div(align='center')
          h1 Login
          div#divlogin
            input(type = "text", name = "emailid" id = "emailid" placeholder="Email-Id", required)
          div
            input(type = "password", name = "password" id = "password" placeholder="Password", required)
          div
            input.button(type="submit", name="Submit")

  script.
    $(body).css("background-color","#66ccff");
