extends ./layouts/main.pug

block content

  div.align-center
    form#profile(action='/profile' method='POST')
      div(align='center')
        each r in res
          div(align='center')
            h1 Update Your Profile
            div#divregistername
              label Name
              input(type="text", name="fullname" id="fullname" value=r.fullname)
            div
              label Email-Id
              input(type="email", name="emailid" id="emailid" value=r.emailid)
            div#divregisterpassword
              label Password
              input(type="text", name="password" id="password" value=r.password)
            div
              input.button(type="submit", name="Submit")


  script.
    $(body).css("background-color","#cceeff");



