extends ./layouts/main.pug

block content

  div.align-center
    form#register(action='/register',enctype= "multipart/form-data",  method='POST')
      div(align='center')
        div(align='center')
          h1 Join Today
          div#divregistername
            input(type="text", name="fullname" id="fullname" placeholder="Full name", required)
          div
            input(type="email", name="emailid" id="emailid" placeholder="Email-Id", required)
          div#divregisterpassword
            input(type="password", name="password" id="password" placeholder="Password", required)
          div
            input(type='file', name='file' ,style = "margin : -5px 0px 10px 0px ;color : #00aced;", required)
          div
            input.button(type="submit", name="Submit")

  script.
    $(body).css("background-color","#66ccff");



