extends ./layouts/main.pug

block content

  container
    .wrapper
      form.form-login(action='/resetpassword' method='POST')
        h2(style='font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;').form-signin-heading Please Enter Details...
        br
        br
        input.form-control(type='text', name='emailid', placeholder='Email Address', required='', autofocus='',id = "emailid", autocomplete='off')
        label Select Your Question :
        br
        select#question(name='question')
          option(value='bof') Birthplace of your father
          option(value='bom') Birthplace of your Mother
          option(value='fcc') Your Favourite Cartoon Character
        br
        br
        input.form-control(type='text', name='answer', placeholder='Your Answer', required='', autofocus='',id = "answer", autocomplete='off')
        br
        button.btn.btn-lg.btn-info.btn-block(type='submit', name='submit') Submit
        br
        label Don't Have an Account?
        a(href='register', style = "margin : 5px;") Create Account
        br

        script.
          var question = document.getElementById("question");
          var returnvalue = question.options[question.selectedIndex].value;
