extends ./layouts/main.pug

block content

  .navbar-collapse.collapse.navbar-default
    ul.nav.navbar-nav.navbar-left
      li#nav-home
        a(href='/header')
          i.fa.fa-home.fa-2x

          span.nav-icon-text Home
      li#nav-notification
        a(href='profile')
          i.fa.fa-pencil-square-o.fa-2x
            span.sr-only
          span.nav-icon-text Profile

      li#nav-meassage
        a(href='#')
          i.fa.fa-comment.fa-2x

          span.nav-icon-text Messages

    .form-group
      a#btnsignout(href='/logout')
        span.fa.fa-sign-out.fa-2x


    //tweet button with popup window
    button#myBtn.btn.btn-info(type='button', data-toggle='modal', data-target='#exampleModal') Tweet

    #exampleModal.modal.fade(role='dialog', tabindex="-1",aria-labelledby="exampleModalLabel" aria-hidden="true")
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Compose New Tweet
          .modal-body
            form(id='tweet', method='post', action='/header')
              .form-group
                label(for='comment') Whats Happening???
                textarea#comment.form-control(rows='5',name='comment')
                a(href='/header')
                button.btn.btn-info(type='submit') Tweet

          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close

    .form-group
      a#btnprofile(href='/profile')
        span.fa.fa-user.fa-2x

  .container
    .row
      .col-md-12
    .row
      .col-md-3
        h1(style='font-family:"Comic Sans MS", cursive, sans-serif;', align='center') Profile Picture
        form(method='post', enctype='multipart/form-data', action='/profilepictureupload')
          .form-group(align='center')
            if res
              each r in res
                img.img-thumbnail(src='./images/profile/'+ r.image,width ="213px" height="213px")
                br
                br
                input.form-control(type='file', name='file' ,style = "margin : -5px 0px 9px 0px ;color : #00aced;", required)
                button.btn.btn-info(type='submit') Upload Profile Picture From here...!!!
      .col-md-9
        h1(style='font-family:"Comic Sans MS", cursive, sans-serif;', align='center') Update Your Profile
        form(action='/updateprofile' method='POST')
          .form-group
            if res
              each r in res
                label Name
                input.form-control(type="text", name="fullname" id="fullname" value=r.fullname)

                label Email-Id
                input.form-control(type="email", name="emailid" id="emailid" value=r.emailid)

                label Password
                input.form-control(type="text", name="password" id="password" value=r.password, autocomplete='off')

                input.form-control.button.btn-info(type="submit", name="Submit")
  .container
    .row
      a.btn.btn-danger(href='/deleteaccount')
        i.fa.fa-trash-o.fa-lg
        |  Delete Your Account




