extends ./layouts/main.pug
include header.pug
block content
  .container
    .row
      each book in res
        .col-md-4
          .well
            p
              span= book.t_tweetText
              br
              br
              span= book.t_time
              br
              br
              a(href='#')#like.span.fa.fa-heart.fa-1x
              |  &nbsp
              span= book.t_likeCount
