
@import url(http://fonts.googleapis.com/css?family=Sniglet|Raleway:900);


body, html{
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Sniglet', cursive;
}

h1{
  font-weight: normal;
  font-size: 4em;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  margin-top: 30px;
  width: 500px;
  color: #F90;
  text-align: center;

}

header{
  height: 160px;
  background: url('http://www.geertjanhendriks.nl/codepen/form/golf.png') repeat-x bottom;
}

#form{
  height: 100%;
  background-color: #98d4f3;
  overflow: hidden;
  position: relative;
}
form{
  margin: 0 auto;
  width: 500px;
  padding-top: 40px;
  color: black;
  position: relative;


}
label, input, textarea{
  display: block;
}
input, textarea{
  width: 500px;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  font-family: 'Sniglet', cursive;
  font-size: 1em;
  color: #676767;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  -o-transition: border 0.5s;
  border: solid 3px #98d4f3;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;

}
input:focus, textarea:focus{
  border: solid 3px #77bde0;
}

textarea{
  height: 100px;
  resize: none;
  overflow: auto;
}
input[type="submit"]{
  background-color: #F90;
  color: white;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 1.29em;
  font-family: 'Sniglet', cursive;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
input[type="submit"]:hover{
  background-color: #e58f0e;

}
label{
  font-size: 1.5em;
  margin-top: 20px;
  padding-left: 20px;
}

#divemail {
  margin-bottom: 50px;
}



/*navbar cs*/
.navbar {
  min-height: 80px;
  border-radius: 0;
}

.navbar-default {
  background-color: #98172c;
  border-color: #98172c;
}

.fa {
  color: #8c8c8c;
}

.mojo-logo {
  max-height: 60px;
}

#nav-home, #nav-notification, #nav-message {
  display: inline;
}

.navbar-nav > li > a {
  padding-bottom: 20px;
}

.nav-icon-text {
  display: inline;
  color: #8c8c8c;
  font-size: 30 px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial ;
}

.navbar-nav > li > a:hover .nav-icon-text {
  display: inline;
  color:#00ccff;
  font-size: 20px;
}

.nav > li > a {
  padding: 10px 0px;

}

.nav > li {
  padding-top: 10px;
  min-height: 99px;
  min-width: 95px;
  text-align: center;
}
/*
.bgColor {
  background-color: #66ccff;
}*/

/*Riddhi*/
/*  .navbar {
    min-height: 80px;
    border-radius: 0;
  }

  .navbar-default {
    background-color: #98172c;
    border-color: #98172c;
  }

  .fa {
    color: #8c8c8c;
  }

  .mojo-logo {
    max-height: 60px;
  }

  #nav-home, #nav-notification, #nav-message {
    display: inline;

  }
  #nav-twitter{
    display:inline;

  }
  .navbar-nav > li > a {
    padding-bottom: 20px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
  }

  .nav-icon-text {
    display: inline;
    color: #8c8c8c;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial ;
  }

  .navbar-nav > li > a:hover .nav-icon-text {
    display: inline;
    color:#00ccff;
    font-size: 20px;
  }

  .nav > li > a {
    padding: 10px 0px;

  }

  .nav > li {
    padding-top: 10px;
    min-height: 99px;
    min-width: 95px;
    text-align: center;
  }

  .navbar-form{
    margin-top: 30px;
  }


/*style for searchbar */

.input-group{
  vertical-align: center;
}


/*style for button */
.btn{
  color: white;
  float: right;
  margin: 10px;
  margin-top:-5px;
  /*vertical-align: center;*/
  /*padding: 13px 16px;*/

}

/*style for popup*/
 .modal{
 /*   display: block;*/
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }
 .modal-dialog {
  top: 20%;
  width: 100%;
  position: relative;
}
 .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto; /* 15% from the top and centered */
  padding: 0px;
  border: 1px solid #888;
  width: 80%;
}
 .modal-body {
  background-color: #e6e6e6;
  color: #8c8c8c;
 }
 .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/*css for dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    /*margin: 10px;*/
    margin-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    margin: 50px;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.dropdown:hover .dropdown-content {
    display: block;

}

.desc {
    padding: 15px;
    text-align: center;
}
#btnprofile{

  display: block;
  float: right;
  margin-right: 20px;

  color: #00a3cc;
}

#btnsignout{
  margin-left: 20px;
  display: block;
  float: right;
  margin-top: 12px;
  color: #00a3cc;
}


/*css for profile page */
.twPc-div {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e1e8ed;
  border-radius: 6px;
  height: 200px;
 /* max-width: 340px;*//* // orginal twitter width: 290px;*/
}
.twPc-bg {
    background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
    background-position: 0 50%;
    background-size: 100% auto;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 4px 4px 0 0;
    height: 95px;
    width: 100%;
}
.twPc-block {
    display: block !important;
}
.twPc-button {
    margin: -35px -10px 0;
    text-align: right;
    width: 100%;
}
.twPc-avatarLink {
    background-color: #fff;
    border-radius: 6px;
    display: inline-block !important;
    float: left;
    margin: -30px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}
.twPc-avatarImg {
    border: 2px solid #fff;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    height: 72px;
    width: 72px;
}
.twPc-divUser {
    margin: 5px 0 0;
}
.twPc-divName {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.twPc-divName a {
    color: inherit !important;
}
.twPc-divStats {
    margin-left: 11px;
    padding: 10px 0;
}
.twPc-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
ul.twPc-Arrange {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.twPc-ArrangeSizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.twPc-ArrangeSizeFit a:hover {
    text-decoration: none;
}
.twPc-StatValue {
    display: block;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}
.twPc-StatLabel {
    color: #8899a6;
    font-size: 10px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}
a:hover#like {
  color: #ff0000;

}
a:visited{
  color:#ff0000;
}
a:link{
  /*color: #ff0000;*/
}

